<nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Share My Kloset</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li class="">
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    
                    <li class="active">
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1 style="font-size: 65px;">Launching November 2015</h1>
                <h2 style="font-size: 65px;"> Share My Kloset</h2>
                <br>
                <p>A New Social Platform Where You Can Buy And Sell Clothes, Shoes & Accessories. </p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>

            </div>
        </div>
    </header>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <p style="font-size: 40px;"> "We make cleaning out your kloset profitable"!</p>
                <div>
                <%= image_tag "ml.jpg", :class =>"headshot" %>
                <p>I'm Marquita. I am here to help you with any questions! I also want to make sure you love SMK just as much as I do..</P
                <p><a href="https://twitter.com/Sharemykloset" class="twitter-follow-button" data-show-count="false">Follow @Sharemykloset</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

            </div>
        </div>
    </aside>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Exciting Features</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-money wow bounceIn text-primary" style="visibility: visible; animation-name: bounceIn;"></i>
                        <h3>Sell</h3>
                        <p class="text-muted">Sell or swap clothing you dont wear..</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-shopping-cart wow bounceIn text-primary" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                        <h3>Buy</h3>
                        <p class="text-muted">Buy new and exciting looks from other ladies!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x  fa-weixin wow bounceIn text-primary" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: bounceIn;"></i>
                        <h3>Chat</h3>
                        <p class="text-muted">Chat with people about thier kloset.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".3s" style="visibility: visible; animation-delay: 0.3s; animation-name: bounceIn;"></i>
                        <h3>Ship</h3>
                        <p class="text-muted">You’ll be notified when your seller starts the shipping process, allowing you to track your package directly to your doorstep!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="no-padding" id="portfolio">
        
    </section>

   <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded"> Re-style your wardrobe by selling and buying directly from other stylish ladies. Find a outfit for every occasion and a friend for every conversation.!</p>
                    <a href="#" class="btn btn-default btn-xl">Stay Tuned!</a>
                </div>
            </div>
        </div>
    </section>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Have any Questions? Please dont hesitate to ask!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-twitter fa-3x wow bounceIn" style="visibility: visible; animation-name: bounceIn;"></i>
                    <p><a href="https://twitter.com/Sharemykloset" class="twitter-follow-button" data-show-count="false">Follow @Sharemykloset</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s" style="visibility: visible; animation-delay: 0.1s; animation-name: bounceIn;"></i>
                    <p><a href="mailto:sharemykloset.m.r.gmail.com">sharemykloset.m.r@gmail.com</a></p>
                </div>
            </div>
        </div>
    </section>